{% extends 'base.html' %}
{% block title %}Students Record{% endblock %}
{% block content %}

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="../records">Students Record</a>
    <div class="dropdown">
        <button class="dropbtn">Students Result</button>
        <div class="dropdown-content">
            <a href="../result-form">Upload Result</a>
            <a href="../check-result">Check Result</a>
        </div>
    </div>
    <div class="search-container">
        <form method="get" action="../search">
            <input type="text" placeholder="Enter Matric Number..." name="q">
            <button type="submit">Search</button>
        </form>
    </div>
</div>

<div class="container" style="margin-top: 50px">
    <h2>Students Record</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}

    <table border="1" class="table">
        <thead>
        <tr>
            <th>Matric No.</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Start Date</th>
            <th>Exit Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for students in student %}
        <tr>
            <td>{{ students.matric }}</td>
            <td>{{ students.lName.title }} {{ students.mName.title }} {{ students.fName.title }}</td>
            <td>{{ students.email }}</td>
            <td>{{ students.dept.title }}</td>
            <td>{{ students.entry }}</td>
            <td>{{ students.exit }}</td>
            <td style="white-space:nowrap;"><a type="submit" class="btn btn-primary btn-sm"
                                               href="{% url 'view' students.matric %}">View</a>
                <a type="submit" class="btn btn-success btn-sm" href="{% url 'update' students.matric %}">Edit</a>
                <a type="submit" class="btn btn-danger btn-sm" href="{% url 'delete' students.matric %}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <center><a href="/create" class="btn btn-primary">Add New Record</a></center>
</div>


{% endblock %}